
.front {
	
	.l-content-main-wrapper {
		padding: 0 0 6vw 0;
	}
	
	.l-content-main {
		width: 100%;
		padding-bottom: 0;
		
		@include breakpoint($small-only) {
			margin: 0;
		}
	}
}

.masthead {
	text-align: center;
	padding: 4vw;
	background: #010101;
	@include constrained;
	margin-top: 5vw;
	
	@include breakpoint($small-only) {
		margin: 24px 24px 0;
	}
	
	h1 {
		margin: 0 0 10px;
		color: #fff;
		text-transform: uppercase;
		&:after {
			display: none;
		}
		
		@include breakpoint($small-only) {
			font-size: 1.5em;
		}
	}
	h2 {
		color: #fefc53;
		margin: 0;
		
		@include breakpoint($small-only) {
			font-size: 1em;
			line-height: 1.4;
		}
	}
}

//------------------------------
// HOME PAGE ONLY cards grids layout
//------------------------------
.homepage-grid-wrapper {
	ul.homepage-grid {
		margin: 0;
		padding: 0;
		list-style: none;	
		grid-gap: 30px;
		display: flex;
		flex-wrap: wrap;
		
		@include breakpoint($large-up) {
			grid-template-columns: repeat(12, 1fr);
			//grid-template-rows: repeat(9, .25fr);
			grid-gap: 30px;
			grid-auto-flow: column;
			display: grid;
		}
		
		li {
			display: inline;
		}
	}
	li.homepage-grid-item {
		list-style-type: none;
		list-style: none;
		margin: 0;
		padding: 0;
		background: #fff;
		position: relative;
		
		a.btn {
			display: block !important;
		}
	}

	
	.card-item,
	.card-wrapper {
		height: 100%;
		width: 100%;
	}
	
	.card-image {
		padding: 0 !important;
		
		img {
			width: 100%;
			height: auto;
		}
	}
	
	// full width card, texts over photo
	li.homepage-grid-item {
		
		&:nth-child(1) {
			grid-area: masthead;
			
			@include breakpoint($large-up) {
				grid-row-start: 1;
				grid-column-start: 1;
				
				grid-row-end: 2;
				grid-column-end: 13;
				
				.card-body {
					position: absolute;
					z-index: 5;
					bottom: 0;
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 2vw 6vw;
					background: #fefc53de;
					margin: 4vw;
					width: calc(100% - 8vw);
					
					.card-title {
						font-size: 40px;
						
						&:before {
							display: none;
						}
					}
				}
			}
		}
		&:nth-child(2) {
			grid-area: row2slot1;
			
			@include breakpoint($medium-only) {
				flex: 0 0 calc(50% - 15px);
			}
			
			@include breakpoint($large-up) {
				grid-row-start: 2;
				grid-column-start: 1;
				
				grid-row-end: 3;
				grid-column-end: 7;
				
				.card-image {
					display: none;
				}
				.card-body {
					padding-top: 75px;
				}
			}
		}
		
		// EVERGREEN donate button
		&:nth-child(3) {			
			grid-area: evergreen-donate;
			
			@include breakpoint($medium-only) {
				flex: 0 0 calc(50% - 15px);
			}
			
			@include breakpoint($large-up) {
				grid-row-start: 2;
				grid-column-start: 7;
				
				grid-row-end: 3;
				grid-column-end: 13;
			}
		}
		&:nth-child(4) {
			//grid-column: span 3;
			//grid-row: 3;
			
			
			@include breakpoint($large-up) {
				grid-row-start: 3;
				grid-column-start: 1;
				
				grid-row-end: 5;
				grid-column-end: 5;
			}
		}
		&:nth-child(5) {
			
			@include breakpoint($medium-only) {
				flex: 0 0 calc(50% - 15px);
			}
			
			@include breakpoint($large-up) {
				grid-row-start: 3;
				grid-column-start: 5;
				
				grid-row-end: 5;
				grid-column-end: 9;
			}
		}
		&:nth-child(6) {
			
			@include breakpoint($medium-only) {
				flex: 0 0 calc(50% - 15px);
			}
			
			@include breakpoint($large-up) {
				grid-row-start: 3;
				grid-column-start: 9;
				
				grid-row-end: 4;
				grid-column-end: 13;
				
				.card-image {
					display: none;
				}
				.card-body {
					padding-top: 75px;
				}
			}
		}
		&:nth-child(7) {
			//grid-column: span 1;
			//grid-row: 3;
			
			@include breakpoint($large-up) {
				grid-row-start: 4;
				grid-column-start: 9;
				
				grid-row-end: 5;
				grid-column-end: 13;
				
				.card-image {
					display: none;
				}
				.card-body {
					padding-top: 75px;
				}
			}
			
		}
		
		// full width card, texts over photo
		&:nth-child(8) {
			//grid-column: 1 / span 3;
			//grid-row: 1 / span 1;
			
			
			@include breakpoint($large-up) {
				grid-row-start: 5;
				grid-column-start: 1;
				
				grid-row-end: 6;
				grid-column-end: 13;
			}
			
			@include breakpoint($large-up) {
				.card-body {
					position: absolute;
					z-index: 5;
					bottom: 0;
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 2vw 6vw;
					background: #fefc53de;
					margin: 4vw;
					width: calc(100% - 8vw);
					
					.card-title {
						@include breakpoint($large-up) {
							font-size: 40px;
						}
						
						&:before {
							display: none;
						}
					}
				}
			}
		}
		&:nth-child(9) {
			
			@include breakpoint($medium-only) {
				//flex: 0 0 calc(50% - 15px);
			}			
			
			@include breakpoint($large-up) {
				grid-row-start: 6;
				grid-column-start: 1;
				
				grid-row-end: 7;
				grid-column-end: 7;
			}
			
		}
		&:nth-child(10) {
			@include breakpoint($medium-only) {
				flex: 0 0 calc(50% - 15px);
			}
			
			
			@include breakpoint($large-up) {
				grid-row-start: 6;
				grid-column-start: 7;
				
				grid-row-end: 7;
				grid-column-end: 13;
				
				.card-image {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					
					img {
						object-fit: cover;
						height: 100%;
						/* width: auto; */
					}
				}
				.field--type-image {
					height: 100%;
				}
				.card-body {
					position: absolute;
					bottom: 0px;
					background: rgb(0 0 0 / 71%);
					margin: 30px;
					width: calc(100% - 60px);
				}
				.card-text-group {
					h3.card-title,
					.card-text,
					.card-attributions {
						color: #fff;
					}
					.card-text {
						margin: 0;
					}
				}
			}
		}
		&:nth-child(11) {
			
			@include breakpoint($medium-only) {
				flex: 0 0 calc(50% - 15px);
			}
			
			@include breakpoint($large-up) {
				grid-row-start: 7;
				grid-column-start: 1;
				
				grid-row-end: 8;
				grid-column-end: 5;
				
				.card-image {
					display: none;
				}
				.card-body {
					padding-top: 75px;
				}
			}
		}
		&:nth-child(12) {
			
			@include breakpoint($medium-only) {
				flex: 0 0 calc(50% - 15px);
			}			
			
			@include breakpoint($large-up) {
				grid-row-start: 8;
				grid-column-start: 1;
				
				grid-row-end: 9;
				grid-column-end: 5;
				
				.card-image {
					display: none;
				}
				.card-body {
					padding-top: 75px;
				}
			}
		}
		&:nth-child(13) {
			
			@include breakpoint($medium-only) {
				flex: 0 0 calc(50% - 15px);
			}
			
			@include breakpoint($large-up) {
				grid-row-start: 7;
				grid-column-start: 5;
				
				grid-row-end: 9;
				grid-column-end: 9;
			}
		}
		
		// Twitter feed
		&:nth-child(14) {
			
			@include breakpoint($medium-only) {
				flex: 0 0 100%;
			}			
			
			@include breakpoint($large-up) {
				grid-row-start: 7;
				grid-column-start: 9;
				
				grid-row-end: 9;
				grid-column-end: 13;
			}
		}
		/*
		&:nth-child(15) {
			//grid-column: 1 / span 3;
			//grid-row: 1 / span 1;
			
			grid-row-start: 14;
			grid-column-start: 1;
			
			grid-row-end: 16;
			grid-column-end: 7;
		}
		&:nth-child(16) {
			//grid-column: 1 / span 3;
			//grid-row: 1 / span 1;
			
			grid-row-start: 14;
			grid-column-start: 7;
			
			grid-row-end: 16;
			grid-column-end: 13;
		}
		&:nth-child(17) {
			//grid-column: 1 / span 3;
			//grid-row: 1 / span 1;
			
			grid-row-start: 16;
			grid-column-start: 1;
			
			grid-row-end: 18;
			grid-column-end: 5;
		}
		&:nth-child(18) {
			//grid-column: 1 / span 3;
			//grid-row: 1 / span 1;
			
			grid-row-start: 16;
			grid-column-start: 5;
			
			grid-row-end: 18;
			grid-column-end: 9;
		}
		
		&:nth-child(19) {
			grid-row-start: 16;
			grid-column-start: 9;
			
			grid-row-end: 18;
			grid-column-end: 13;
		}*/
	}

}

//---------------------------------------
//
//	EVERGREEN card items
//
//---------------------------------------

.homepage-grid-wrapper {
	.media-item--type--evergreen {
		background: #fefc53;
		
		.card {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			
			.card-body {
				padding: 6vw;
				align-items: center;
				
				.card-text {
					a.btn {
						display: block !important;
						font-weight: bold;
						text-transform: uppercase;
					}
				}
			}
		}
		
		h3.card-title {
			line-height: 1.1;
			@include breakpoint($small-only) {
				font-size: 30px;
			}
			
			@include breakpoint($medium-only) {
				font-size: 40px;
				line-height: 1.1;
			}
			@include breakpoint($large-up) {
				font-size: 2.5vw;
			}
			
			&:before {
				display: none;
			}
		}
	}
	
	// Compendium card
	#media-item-358,
	// twitter card
	#media-item-360 {
		background: $secondary;
		
		.card-body {
			padding: 30px;
		}
		
		// override the override
		/*.card-title {
			&:before {
				content: "";
				width: 25px;
				height: 1em;
				background: #b82c8a;
				display: inline-block;
				flex: 0 0 25px;
				margin: 0 10px 0 0;
				position: absolute;
				left: -40px;
				top: 3px;
			}
		}*/
		
	}
	
	// twitter card
	#media-item-360 {
		background: #fff;
		
		.card {
			justify-content: flex-start;
			
			h3.card-title {
				font-size: 30px;
			}
		}
	}
}


