//----------------------------------
//----------------------------------
//
//	SECTION: ALERT
//
//----------------------------------
//----------------------------------

.section-alert {
    text-align: $section-alert-alignment;
    background: $section-alert-bg-color;
    padding: 0;

    .alert {
        margin: $alert-margin;

        &.alert-primary {
            padding: $alert-padding;
            color: $alert-text-color;
            background-color: transparent;
            border: $alert-border;
            border-radius: $alert-border-radius;
        }

        .feature-box-img {
            img {
                margin-bottom: 1.5em;
            }            
        }
        h2.feature-box-title {
            color: $alert-text-color;
            margin: $title-margin;
        }
        .feature_box__feature-box-message-text {
            max-width: 1150px;
            margin: 0 auto;
            
            a {
                color: $alert-link-color;
            }
        }
        .feature-box-button {

            a {
               @extend .btn;
               background-color: $alert-btn-bg-color;
               border: $alert-btn-border;
               color: $alert-btn-text-color;
               text-decoration: none;
               display: inline-block;
               margin-top: 2em;
               
               &:hover {
                   background-color: $alert-btn-hover-bg-color;
                   border-color: $alert-btn-hover-border-color;
                   color: $alert-btn-hover-text-color !important;
                   text-decoration: none;
               }
            }            
        }
    }
    .alert-dismissible {
        .close {
            color: $alert-close-x-color;
            text-shadow: none;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            text-shadow: none;
            font-weight: normal;
            font-size: 30px;
        }
    }
}
