//----------------------------------
//
//	CATALOG ITEM - paragraph:
//
//----------------------------------

// List catalog item code.
.paragraph--type--catalog-item {
    padding: 4rem 0;
    position: relative;
    border-bottom: $catalog-item-border;
    
    h2.section-title {
        @include responsive-section-title;
        @include title-style;
        margin-bottom: 1rem;
        color: $catalog-item-title-color;
    }
    a.standalone-page-link:not(.btn) {
        text-decoration: $article-list-title-text-decoration;
        color: $catalog-item-title-color;
        
        h2.section-title {
            @include responsive-catalog-list-title;
            color: $catalog-item-title-color;
            text-decoration: $catalog-item-title-text-decoration;
            transition: 0.2s ease-in all;
            border: $catalog-item-list-title-border;
            padding: $catalog-item-list-title-padding;
            margin: $catalog-item-list-title-margin;
            
            &:hover {
                color: $catalog-item-title-hover-color;
                text-decoration: $catalog-item-title-hover-text-decoration;
            }
        }
        &:hover {
            color: $catalog-item-title-hover-color;
            text-decoration: $catalog-item-title-hover-text-decoration;
        }
    } 
    
    .subtitle {
        @include responsive-section-subtitle;
        color: $subtitle-color;
        font-style: $subtitle-font-style;
        text-align: $subtitle-text-align;
    }
    
    // col 1
    .catalog-item-1 {
        @include media-breakpoint-down(sm) {
            margin-bottom: 30px;
        }
    }
        
    // Columns - override bootstrap padding defaults
    .catalog-item-1 {
        @include media-breakpoint-up(lg) {
            padding-right: 30px;
        }
    }
    .catalog-item-2 {
        @include media-breakpoint-up(lg) {
            padding-left: 30px;
        }
    }
    
    // image
    .catalog_item__catalog-item-image {        
        img {
            width: 100%;
            height: auto;
        }
    }
    
    
    // Item link field
    .catalog_item__catalog-item-link {
        margin-top: 1.5rem;
        margin-bottom: 15px;
        
        a {
            display: block;
        }
    }
    
    // View More button
    .btn.standalone-page-link {
        margin-top: 1.5rem;
    }
    
    // description
    .catalog-item-description {
        color: $catalog-item-description-color;
        
        @include media-breakpoint-up(lg) {
            font-size: $catalog-description-text-size;
        }
        
        p:last-child {
            margin-bottom: 0;
        }
    }
    
    .catalog-item-link {
        margin: 2.5em 0;
        display: inline-block;
        
        &:not(.btn) {
            text-decoration: underline;
        }
    }
}


//---------------------------------------------
//
//	LIGHT THEME STYLES -
//
//---------------------------------------------

.dark-text {
    &.paragraph--type--catalog-item	{
        // title
        .section-title,
        a.standalone-page-link h2.section-title {
            color: $title-on-light-color !important;
        }
        .catalog-item-description {
            color: $text-on-light-color !important;
        }
        .catalog-item-link {
            &.btn-primary,
            &.btn-secondary {
                @include button-on-light;
            }
            &:not(.btn) {
                color: $link-on-light-color !important;
                
                &:hover {
                    color: $link-on-light-color-hover !important;
                }
            }
        }
    }
}

.paragraph--type--catalog-item {
   
    //-----------------------
    // light bg class
    //-----------------------
    &.light-bg {
        background: $bg-light-color !important;
    }
}

//---------------------------------------------
//
//	DARK THEME STYLES -
//
//---------------------------------------------

.paragraph--type--catalog-item {
       
    //-----------------------
    // dark bg class only
    //-----------------------
    &.dark-bg {
        background: $bg-dark-color !important;
    }
}

.light-text {
    &.paragraph--type--catalog-item	{
        // title
        .section-title,
        a.standalone-page-link h2.section-title {
            color: $title-on-dark-color !important;
        }
        .catalog-item-description {
            color: $text-on-dark-color !important;
        }
        .catalog-item-link {
            &.btn-primary,
            &.btn-secondary {
                @include button-on-dark;
            }
            &:not(.btn) {
                color: $link-on-dark-color !important;
                
                &:hover {
                    color: $link-on-dark-color-hover !important;
                }
            }
        }
    }
}

// override .light-text in mobile only
.light-text {
    &.dark-text-mobile {
        @include media-breakpoint-down(sm) {
            // title
            .section-title {
                color: $title-on-light-color !important;
            }
            .catalog-item-description {
                color: $text-on-light-color !important;
            }
            .catalog-item-link {
                &.btn-primary,
                &.btn-secondary {
                    @include button-on-light;
                }
                &:not(.btn) {
                    color: $link-on-light-color !important;
                    
                    &:hover {
                        color: $link-on-light-color-hover !important;
                    }
                }
            }
        }
    }
}
