//----------------------------------
//----------------------------------
//
//	SECTION: CONTACT FORM (FORMSUBMIT.com)
//			 Two Column
//
//----------------------------------
//----------------------------------


.section-contact-form {
	
	&.paragraph--view-mode--contact-form-2 {

		.contact-form-wrapper {
			max-width: 720px;
			margin: 0 auto;
			background: $section-contact-form_form-bg-color;
			padding: $section-contact-form_form-padding;
			border-radius: $section-contact-form_form-border-radius;
			display: flex;
			justify-content: center;
		}
	}

}
  

