//----------------------------------------------
//
//	BREADCRUMBS - styling
//
//	location: 
//      /sass/components/
//
//
//----------------------------------------------

.front {
	nav.breadcrumb {
		display: none;
	}
}

//---------------------------------
//	Breadcrumb 
//---------------------------------

.breadcrumb-wrapper,
.block--blockify-blockify-breadcrumb,
.block-system-breadcrumb-block {
	background-color: $breadcrumb-wrapper-bg-color;
	padding: $breadcrumb-wrapper-padding;
}

.breadcrumb {
	padding: 0;
	font-family: $title-font-family; // *change* added
	
	@include media-breakpoint-down(sm) {
		margin: 0 24px;
	}
	
	@include media-breakpoint-up(md) {
		@include constrained;
	}
	

	.breadcrumb {
		margin: 0;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: $breadcrumb-alignment;
		background: transparent;
		flex-wrap: wrap;
	}
	
	li {
		list-style-type: none;
		font-size: $breadcrumb-font-size;
		font-weight: $breadcrumb-font-weight;
		line-height: 1.2;
		color: $breadcrumb-text-color;
		padding: $breadcrumb-link-padding;
		
		@include media-breakpoint-down(md) {
			margin-bottom: 5px;
		}
		
		&:after {
			content: "»";
			margin-left: 5px;
			display: inline-block;
		}
		
		&:last-child:after {
			content: "";
		}
		
		a {
			color: $breadcrumb-link-color;
			
			&:hover {
				color: $breadcrumb-link-hover-color;
			}
		}
	}
}