//----------------------------------------------
//
//	BREADCRUMBS - styling
//
//	location: 
//      /sass/components/
//
//
//----------------------------------------------

.front {
	nav.breadcrumb {
		display: none;
	}
}

//---------------------------------
//	Breadcrumb 
//---------------------------------

.breadcrumb-wrapper,
.block--blockify-blockify-breadcrumb,
.block-system-breadcrumb-block {
	background-color: $breadcrumb-wrapper-bg-color;
	padding: $breadcrumb-wrapper-padding;
}

.breadcrumb {
	padding: 0;
	font-family: $breadcrumb-font-family; // *change* added
	position: relative;

	
	ol {
		margin: 0;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: $breadcrumb-alignment;
		background: transparent;
		flex-wrap: wrap;
		@include contained;
	}
	
	li {
	    list-style-type: none;
		font-size: $breadcrumb-font-size;
		font-weight: $breadcrumb-font-weight;
		line-height: 1.2;
	    color: $breadcrumb-text-color;
	    padding: $breadcrumb-link-padding;
		
		@include media-breakpoint-down(md) {
			margin-bottom: 5px;
		}
	    
	    &:after {
			content: "»";
			margin-left: 5px;
			display: inline-block;
		}

		&:last-child:after {
			content: "";
		}
		
		a {
			color: $breadcrumb-link-color;
			text-decoration: none;
			border-bottom: 1px solid $primary;
			
			&:hover {
				color: $breadcrumb-link-hover-color;
			}
		}
	}
}