
//--------------------------------------------------
//
//	FOOTER - general styles for and layout
//
//	location: 
//      /sass/base/_lists.scss
//
//--------------------------------------------------

.footer-logo {
	max-width: $footer-logo-width;
}


//-------------------------------------------------
//-------------------------------------------------
//	
//	Pre-footer
//	
//-------------------------------------------------
//-------------------------------------------------

.l-pre-footer-wrapper {
	background-color: $pre-footer-bg-color;
	position: relative;	
		
	.l-constrained {
		text-align: center;
		@include unconstrained;
	}
}


//-------------------------------------------------
//-------------------------------------------------
//
//	Footer
// 
//-------------------------------------------------
//-------------------------------------------------



// footer outer wrapper
.l-footer-wrapper {
	background-color: $section-footer-bg-color;	
}

// footer inner wrapper
.l-footer-inner {
	color: $footer-text-color;
	font-size: 15px;
	display: flex;
	
	@include media-breakpoint-down(lg) {
		flex-direction: column;
		align-items: center;
		flex-wrap: wrap;
		text-align: center;
		padding: 40px 24px !important;
	}
	// columns for small layouts
	@include media-breakpoint-only(md) {
		flex-direction: column;
		align-items: center;
		flex-wrap: wrap;
		text-align: center;
		padding: 3em 0;
	}
	
	// rows for larger layouts
	@include media-breakpoint-up(lg) {
		padding: $section-footer-padding-lg 0 20px 0;
		text-align: left;
		flex-wrap: nowrap;
		flex-direction: row;
	}
	
}


footer {
	
	.footer1 {
	    font-size: 15px;
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		
		@include media-breakpoint-only(lg) {
			flex: 0 0 auto;
		}
		
		@include media-breakpoint-down(lg) {
			margin-bottom: 30px;
			border-bottom: 1px solid #777;
			padding-bottom: 30px;
			text-align: center;
			flex: 1 1 100%;
		}
	}
	.footer2 {
		flex: 1 1 auto; // default 1 0 auto
		display: flex;
	    flex-direction: column;
	    justify-content: flex-start; // default space-between
		flex-wrap: wrap;
		text-align: left;
		
		@include media-breakpoint-down(lg) {
			padding-bottom: 30px;
			align-items: center;
			text-align: center;
		}
	    @include media-breakpoint-up(lg) {
		    padding-left: 5vw;
	    }
	}
	.footer3 {
		@include media-breakpoint-down(lg) {
			padding-bottom: 30px;
			align-items: center;
			text-align: center;
		}
	}
	
	// overrides to header logo
	.footer-logo {
		width: 200px;
		max-width: 200px;
		padding: 0;
		margin: 0 0 20px;
	
		@include media-breakpoint-only(md) {
		    padding: 0;
		    margin: 30px auto 10px;
			
			&:nth-child(1) {
				margin-right: 20px;
			}
		}
		
		h1 {
			margin: 0;
		}
	}
	a {
		color: $footer-link-color;
		text-decoration: none;
		
		&:hover {
			color: $footer-link-hover-color;
		}
	}
}



.footer-social-links {
	@include media-breakpoint-up(lg) {
		margin-left: -10px; // align with logo
	}
}

//-----------------------------------
//	Footer affiliations
//-----------------------------------
.affiliation-logos-inner {
	display: flex;
	gap: 30px;
	filter: grayscale(1) brightness(1.25);
	
	img {
		max-width: 80px;
	}
}


//-----------------------------------
//	Footer Locations & Contact
//-----------------------------------

.footer-contact-inner {
	display: flex;
	flex-direction: column;
	gap: .7em;
	
	ul {
		margin: 0;
		padding: 0;
		
		li {
			list-style: none;
			margin: 0;
			padding: 0;
		}
	}
	
	.footer-block-title {
		font-weight: 500;
		text-transform: uppercase;
		font-family: 'poppins';
		letter-spacing: .1em;
		font-size: .8em;
		color: $footer-title-color;
	}
	.footer-contact {
		span.contact-label {
			display: inline-block;
			margin-right: 10px;
		}
	}
}


//-----------------------------------
//	Footer Services Menu
//-----------------------------------

nav.menu--footer-services {
	display: flex;
	flex-direction: column;
	gap: .7em;
}

.footer-services {
	h2 {
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: .075em;
		font-size: .8em;
		color: #fff;
	}
	ul.menu {
		margin: 0;
		padding: 0;
		
		li {
			margin: 0;
			padding: 0;
			list-style: none;
		}
	}
}


//-------------------------------------------------
//-------------------------------------------------
//
//	Post Footer
//	
//-------------------------------------------------
//-------------------------------------------------

.l-post-footer-wrapper {
	padding: 15px 10px 15px;
	background-color: $post-footer-bg-color;
	text-align: center;
	font-size: 14px;
}

.post-footer-inner.l-constrained {
	padding: 0 5vw;
}
	


//-----------------------------------
// Copyright
//-----------------------------------

.footer-copyright {
	color: $footer-text-color;
	display: inline-block;
	
	p {
		margin-bottom: 5px;
		
		@include media-breakpoint-down(sm) {
			font-size: 15px;
		}
	}
	
	a {
		color: $footer-link-color;
		
		&:hover {
			color: $footer-link-hover-color;
		}
	}
}

// Site credits
.credits {
	color: #888;
	font-size: 13px;
	margin-top: 20px;
	
	a {
		color: #999;
	}
}
