//----------------------------------------------
//
//	HEADER - general layout styles for header and its elements
//
//	location: 
//      /sass/components/_header.scss
//
//----------------------------------------------



//---------------------------
//
//	PRE-HEADER region
//
//---------------------------

.l-pre-header {
	.mobile-brand-title {
		background-color: #1E1F21;
		
		h2 {
		   color: #fff;
		    line-height: 1;
		    font-size: 21px;
		    font-weight: bold;
		    margin: 0;
		    padding: 10px;
		    text-align: center;
		   
		   @include media-breakpoint-only(md) {
			   font-size: 19px;
		   }
	    }
		@include media-breakpoint-down(sm) {
			display: block;
		}
		@include media-breakpoint-up(lg) {
			display: none;
		}
	}
}


//---------------------------
//
//	HEADER region
//
//---------------------------

.l-header {
	position: relative;
	z-index: 99;
	background-color: #fff;
	box-shadow: 0px 0 20px rgba(146, 146, 146, 0.3);

	@include media-breakpoint-down(lg) {
		display: none;
	}
	
	@include media-breakpoint-up(lg) {
		display: block;
		position: relative; // for non-fixed nav
		left: 0;
		width: 100%;
		z-index: 6;
		@include clearfix; // for non-fixed nav
		height: auto; //$header-height-md
	}
	@include media-breakpoint-up(xl) {
		height: auto; // $header-height-lg
	}
	
	//! ! ! ! ! * * * * * * * * * * *
	// for fixed position headers
	// see /abstractions/_mixin-layout.scss
	
	// inner container
	.l-constrained {
		margin: 0 auto;
		display: flex;
		height: 100%;
		align-items: flex-end;
	}

	
	// Main Navigation
	nav.menu--main {
		margin-left: auto; // makes it align right
	}
}