//------------------------------------------------------
//
//	MOBILE NAVIGATION - Styles for Main Site Nav in mobile
//
//	location: 
//      /sass/components/_mobile-navigation.scss
//
//------------------------------------------------------


// hide the stupid h2 block title since drupal won't allow us to not render it
nav.menu--main h2 {
	display: none;
}


//-----------------------------------
// 
// mobile header - contains nav toggle 
// and site name
//   
//------------------------------------


// Container for userbar, nav
.l-mobile-header {
	@extend %clearfix;
	
	@include media-breakpoint-down(lg){
		position: relative;
		width: 100%;
		z-index: 101;
		top: 0;
		left: 0;
		background-color: $mobile-header-bg-color;
		//height: 50px;
	}
	@include media-breakpoint-up(lg) {
		display: none;
	}
	
	.l-constrained {
		margin: 0;
		width: 100%;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row-reverse;
		justify-content: flex-start;
		
		@include media-breakpoint-only(md) {
			padding: 0 24px;
		}
	}
	
	/* Site Name */
	.site-name {
		
		@include media-breakpoint-down(lg) {
			display: block;
			width: calc(100% - 60px);
			font-size: 25px;
			text-align: left;
			height: 50px;
			line-height: 1.2;
			vertical-align: middle;
			margin-left: 0; // pushes logo to right
			margin-right: 20px;
			z-index: 0;
			
			& a {
				display: block;
				color: $navbar-brand-font-color;
				width: 100%;
				height: 100%;
				background: url(../images/2911_logo_white.svg) no-repeat center left; // replace with link to logo img
				background-size: auto 70%;
				
				// for text name only
				font-size: 0;
				color: #fff;
				display: flex;
				align-items: center;
			}
		}
		@include media-breakpoint-only(md) {
			top: 8px;
			height: 70px;
			
			& a {
				background-size: 100px auto;
			}
		}
	}
}



//-----------------------------------
//
//	hamburger nav toggle button
//		#mobile-nav-open-btn
//
//-----------------------------------


/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */


// #mobile-nav-open-btn
.hamburger {
	padding: 10px 0 0 0;
	display: inline-block;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible;
	transform: translateX(0);
	outline: none;
	
	&:hover {
		background-color: transparent;
	}
}

.js-nav .hamburger {
	position: absolute;
	transform: translateX(97vw);
	top: 0;
	right: 8px;
	outline: none;
	
	@include media-breakpoint-only(md) {
		top: 15px;
	}
	
	.hamburger-inner,
	.hamburger-inner::before,
	.hamburger-inner::after {
		background-color: #fff; 
	}
}

.hamburger-box {
	width: 40px;
	height: 24px;
	display: inline-block;
	position: relative;
	top: -2px; 
}
.js-nav .hamburger-box {
	top: 0;
}

.hamburger-inner {
	display: block;
	top: 50%;
	margin-top: -2px; 
}
.hamburger-inner, 
.hamburger-inner::before, 
.hamburger-inner::after {
	width: 34px;
	height: 3px;
	background-color: $navbar-toggler-color;
	border-radius: 3px;
	position: absolute;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: ease; 
}
.hamburger-inner::before, 
.hamburger-inner::after {
	content: "";
	display: block; 
}
.hamburger-inner::before {
	top: -10px; 
}
.hamburger-inner::after {
	bottom: -10px; 
}
	
//---------------------------
//	specific animation
//---------------------------
.hamburger--squeeze {
	.hamburger-inner {
	  transition-duration: 0.075s;
	  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

	  &::before {
		transition: top 0.075s 0.12s ease,
					opacity 0.075s ease;
	  }

	  &::after {
		transition: bottom 0.075s 0.12s ease,
					transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	  }
	}
}

// when menu is open/visible
.js-nav {
	.hamburger:hover {
		background-color: transparent;
		
		.hamburger-inner,
		.hamburger-inner::before,
		.hamburger-inner::after {
			background-color: $mobile-nav-icon-color-open; 
		}
	}
	.hamburger-inner {
		transform: rotate(45deg);
		transition-delay: 0.12s;
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	
		&::before {
			top: 0;
			opacity: 0;
			transition: top 0.075s ease, opacity 0.075s 0.12s ease;
		}
		
		&::after {
			bottom: 0;
			transform: rotate(-90deg);
			transition: bottom 0.075s ease,	transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
		}
	}
}
 // end hamburgers css 

span.hamburger-label {
	font-size: 12px;
	position: relative;
	top: -3px;
	color: #c8c8c8;
	//display: block;
	line-height: 1;
	font-weight: bold;
	left: -2px;   
	display: none;
}



//-----------------------------------
// 
//  Layout
//   
//------------------------------------

#site-wrapper {
	width: 100%;
	
	// limit to mobile so that "position: sticky; top: 0;" works
	// for sticky nav or sidebars. overflow:hidden breaks this 
	// functionality
	@include media-breakpoint-down(md) {
		overflow-x: hidden;
	}
}

// Outer container which contains all content
// and pushes off screen when navigation
// menu is toggled on

.l-inner-wrap { // site canvas
	width: 100%;
	height: 100%;
	
	// latest browser performance
	//-webkit-transform: translate3d(0, 0, 0);
	//transform: translate3d(0, 0, 0); 
	
	
	-webkit-transition: .3s ease all;
	transition: .3s ease all;
}

// .js-nav is added as body class via js onClick event

.js-nav body {
	overflow: hidden;
}
.js-nav .l-inner-wrap {
	transform: translate3d(-100vw, 0, 0); // latest browser performance
	backface-visibility: hidden;
	transition: transform 500ms ease 0s;
	position: relative;
	width: 100%;
}



// clickable transparent content cover that closes mobile nav
// in addition to "close menu" button

#mobile-fade {
	display: none;
	-webkit-transition: 2s ease-in background;
	transition: 2s ease-in background;
	background: transparent;
	
}

// .js-nav is added as body class via js onClick event
.js-nav #mobile-fade {
	width: 100%;
	height: 1000%;
	display: block;
	background: rgba(0,0,0,0.7);
	position: absolute; // normally absolute
	top: 0px;
	left: 0;
	z-index: 10;
	-webkit-transition: 2s ease-in background;
	transition: 2s ease-in background;
}

// Mobile nav container
// is translated off screen left until menu is toggled on

.l-menu-mobile {
	//position: absolute;
	position: fixed; // necessary to keep from x overflow when menu comes in from right	
	right: -100%;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: $navbar-bg-color-mobile;
	backface-visibility: hidden;
	display: block;
	z-index: 100;
	-webkit-transition: .3s ease all;
	transition: .3s ease all;
	padding-top: 50px;
	
	@include media-breakpoint-down(md) {
		//right: calc(-100% - 15px);
	}
	@include media-breakpoint-up(lg) {
		display: none;
	}
		
	.js-nav & {
		-webkit-transition: .3s ease all;
		transition: .3s ease all;
					
		// latest browser performance
		-webkit-transform: translate3d(0,0, 0);
		transform: translate3d(0,0, 0);
		
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-transition: all 500ms ease 0s;
		transition: all 500ms ease 0s;
	}
}


//------------------------------------
//
// Main Links styling
// 
//-------------------------------------

.mobile-nav,
.mobile-patient-tool-menu {
	height: auto;
	position: relative;
	
	ul {
		margin: 20px 0 0;
		padding: 0;
		overflow-y: auto;
	}
	
	li {
		float: none;
		list-style-type: none;
		margin: 0;
		padding: 0;
		border-bottom: 0px solid rgba(255,255,255,0.2);
		
		& a {
			padding: 3vh 15px;
			display: block;
			text-decoration: none;
			width: auto;
			color: $navbar-link-color-mobile;
			font-size: $nav-font-size-mobile;
			font-weight: $nav-font-weight-mobile;
			text-align: $navbar-link-text-align-mobile;
			line-height: 1;
			text-transform: $nav-text-transform-mobile;
			
			&:hover,
			&:active
			&.active-trail {
				background-color: $navbar-link-bg-hover-color-mobile;
				color: $navbar-link-hover-color-mobile;
				text-decoration: none;
			}
		}
	}
}



//---------------------------------------
//
// SUB NAV
// 
//---------------------------------------

.mobile-nav {
	ul ul {
		margin-bottom: 0px;
		background-color: $mobile-subnav-bg-color;
		display: none; // temporary
	
		li {
			border: 0;
		}
		.sub-nav {
			padding: 10px 15px 10px 30px;
			font-size: 16px;
			color: $mobile-subnav-text-color;
			text-align: left;
			display: flex;
			align-items: center;
			
			&:before {
				content: "";
				width: 7px;
				height: 7px;
				background: rgba(255,255,255,0.3);
				display: block;
				margin-right: 10px;
			}
		}
	}
}

//---------------------------------------
//
//  SEARCH
// 
//---------------------------------------

.l-menu-mobile {
	
	// block wrapper
	.mobile-search-form {
		background: $primary;
		
		.form--inline {
			display: flex;
		}
		
		// form wrapper
		#views-exposed-form-search-content-page-1 {
			display: flex;
			flex-wrap: nowrap;
			padding: 15px;
			justify-content: center;
		}
		
		// label-input wrapper
		.form-item {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			padding: 0;
			margin: 0;
			height: 50px;
			
			label {
				color: #fff;
			}
			input.form-text {
				padding: 6px;
				margin: 0;
				flex: 1 1 auto;
				height: 50px;
				border: 0;
				border-radius: 5px 0 0 5px;
			}
		}
		
		// submit button
		.form-actions {
			padding: 0;
			display: flex;
			align-items: flex-end;
		}
		// button with magnifying glass icon
		.form-actions {
			margin-top: 38px;
			
			input {
				border: 0;
				height: 50px;
				margin-left: 0;
				padding: 10px 15px;
				font-size: 0;
				width: 60px;
				box-sizing: border-box;
				border-radius: 0 7px 7px 0;
				background: #000 url(../images/icons/icon_search.svg) no-repeat scroll center center;
				background-size: 30px auto;
				border-left: 0;
				
				&:hover {
					background-color: $secondary;
				}
			}
		}
		.form-submit {
			font-size: 14px;
			padding: 8px 7px 7px;
			letter-spacing: 0;
			vertical-align: top;
		}
	}
}

