//----------------------------------
//----------------------------------
//
//	VARIABLES: Image only Paragraph
// 
//----------------------------------
//----------------------------------

// Section Background Color
// Sets a background color on the section.
$section-image-bg-color: transparent;

// Mobile Height
// Set the section max height in mobile devices
$section-image-height-mobile: 80vh;

// Desktop Height
// Set the section max height in desktop devices
$section-image-height-lg: 80vh;