//-------------------------------------
//-------------------------------------
//
//	CATALOG Subpage
//
//-------------------------------------
//-------------------------------------

// Catalog Page Bg Color
$catalog-page-bg-color: $subpage-bg-color;

// Catalog Page Title Color
$catalog-page-title-color: $title-color;

// Catalog Page Body Text Color
$catalog-page-body-text-color: $base-text-color;

// Catalog Page - Title Alignment
// Sets the text alignment of a catalog page title (h1)
$catalog-page-title-alignment: $page-title-text-align;


//-----------------------------
//
//	Catalog Item
//
//-----------------------------

// Catalog Item Lists
// Styles the items in a catalog list. 

// Catalog List Item Titles
//  Styles the title in a catalog list item.

// Catalog Item - Title Size (Sm)
// Sets the font size for each title within a list of catalog items in a small device width.
$catalog-list-title-sm: 22px;

// Catalog Item - Title Size (Md)
$catalog-list-title-md: 26px;

// Catalog Item - Title Size (Lg)
$catalog-list-title-lg: 30px;

// Catalog Item Title Font Weight
$catalog-item-title-weight: $title-font-weight;

// Catalog List Title - Text Decoration
$catalog-item-title-text-decoration: $link-text-decoration;

// Catalog Item Title color
$catalog-item-title-color: $title-color;

// Catalog Item - Title Hover Color
$catalog-item-title-hover-color: $link-color-hover;

// Catalog Item Title - Hover - Text Decoration
$catalog-item-title-hover-text-decoration: $link-hover-text-decoration;

// Catalog Item - Title Alignment
$catalog-item-title-alignment: left;

// Catalog Item Title Border
$catalog-item-list-title-border: 0px solid $border-color;

// Catalog Item Title Padding
// Sets padding for the catalog list item title. Useful when paired with $catalog-item-title-border to create space between text and the border itself.
$catalog-item-list-title-padding: 0;

// Catalog Item Title Margin
// Sets margin of the catalog list item title. Format is in css shorthand: top, right, bottom, left
$catalog-item-list-title-margin: 0 0 1em 0;


//---------------------------
//  Catalog List Item Descriptions
//  Styles the description in a catalog list item.
//---------------------------

// Catalog Description Text Size
$catalog-description-text-size: 0.8em;

// Catalog Item description color
$catalog-item-description-color: $base-text-color;


// Item Rows
// Styling on the item wrapper

// Item (Even) - Background color
$catalog-item-bg-even: transparent;

// Item (Odd) - Background color
$catalog-item-bg-odd: $section-alternating-bg;

// Catalog Item Border
$catalog-item-border: 0px solid $border-color;

