//------------------------------
//	BREADCRUMB variables
//------------------------------

// * changed : new

// outer container - usually full width and class set in context to .breadcrumb-wrapper
$breadcrumb-wrapper-bg-color: #000;

$breadcrumb-wrapper-padding: 20px 0;

// alignment of group of links (flex-start, center, flex-end)
$breadcrumb-alignment: flex-start;


// Colors
$breadcrumb-link-color: #fff;

$breadcrumb-link-hover-color: $primary;

$breadcrumb-text-color: #fff;


// Fonts
$breadcrumb-font-family: $base-font-family;

$breadcrumb-font-size: 16px;

$breadcrumb-font-weight: normal;

// uses padding shorthand - top right bottom left
$breadcrumb-link-padding: 0 10px 0 0;





