//----------------------------------
//----------------------------------
//
//	VARIABLES: Section Defaults
// 
//----------------------------------
//----------------------------------

// Default Section Background Color
$section-default-bg-color: transparent;


// Zebra Striping
// 
// Alternating Background Color
$section-alternating-bg: $gray-000;


// Titles
// 

// Title Alignment
$section-title-alignment: center;

// Body Alignment
$section-body-alignment: center;

// Link Alignment
$section-link-alignment: center;


// Padding
// 


// Y Padding (Small)
$section-padding-y-sm: 10vw;

// Y Padding (Large)
$section-padding-y-lg: 8vw;

// X Padding (Small)
$section-padding-x-sm: 5vw;

// X Padding (Large)
$section-padding-x-lg: 8vw;


// Margin
// 

// Section Outer Margin (Small)
$section-outer-margin-sm: 0;

// Section Outer Margin (Large)
$section-outer-margin-lg: 0;