//----------------------------------
//----------------------------------
//
//	VARIABLES: Mailchimp Newsletter Signup
//
//----------------------------------
//----------------------------------

// Background Color
// Sets a background color on the section.
$section-subscribe-bg-color: $section-default-bg-color;


// Title Alignment
$section-subscribe-title-alignment: center;


// Body Alignment
$section-subscribe-body-alignment: center;