//-----------------------------------------
//-----------------------------------------
//
//	VARIABLES: WuFoo Contact Form paragraph
// 
//-----------------------------------------
//-----------------------------------------


// Section

// Contact Section Background Color
// Sets the background color of the section.
$section-contact-bg-color: $section-default-bg-color;

// Contact Section Text Color
// Set the text color of the section
$section-contact-text-color: $base-text-color;

// Intro Title/Body

// Intro Title Alignment
// Sets text alignment for the intro title in the section
$section-contact-intro-title-alignment: center;

// Intro Body Alignment
// Sets text alignment for the intro body for the section
$section-contact-intro-body-alignment: center;


// Form Styles

// Form Background Color
$contact-form-bg-color: $section-alternating-bg;

// Form Border Radius
$contact-form-border-radius: 10px;

// Form Padding
$contact-form-padding: 20px;