//----------------------------------
//----------------------------------
//
//	VARIABLES: Twitter Embed
//
//----------------------------------
//----------------------------------

// Background Color
// Sets the background color of the section.

$section-twitter-bg-color: $section-default-bg-color;

// Title Alignment
// Text alignment for the section title

$section-twitter-title-alignment: center;

// Body Alignment
$section-twitter-body-alignment: center;

// Max Width
$twitter-feed-max-width: 800px;