//----------------------------------
//----------------------------------
//
//	VARIABLES: Elfsight Widget
//
//----------------------------------
//----------------------------------

// Background Color
$section-elfsight-bg-color: $section-default-bg-color;

// Title Alignment
$section-elfsight-title-alignment: center;

// Body Alignment
$section-elfsight-body-alignment: center;

// Max Width
$elfsight-feed-max-width: 100%;