
//---------------------------------------------
//---------------------------------------------
//
//	VARIABLES: Quotations
//	Styling of <blockquote> for quotations
//
//---------------------------------------------
//---------------------------------------------

//--------------------------
// Quotes (OLD CSS)
//--------------------------
$quote-text-color: $base-text-color;
$quote-bg-color-on-light: #eaeaea;
$quote-bg-color-on-dark: #fff;


// Quote Icon URL
// Set the URL for the quote icon
$quotation-icon-url: url(https://fileswift.com/sites/default/files/2021-05/quote-left-solid_0.svg);

// Quote divider color
// Set the color for the vertical border separating icon and text
$quote-pipe-color: #777;

// Quote Author font family
$quote-author-font-family: $base-font-family;

// Quote Highlight text color
$quote-highlight-text-color: $primary;

// Quote Highlight Font Weight
// Set the font weight of a quote highlight
$quote-highlight-font-weight: bold;

// Quote Highlight Text Size
// Set the size of the quote highlight text
$quote-highlight-text-size: 1em;

// Quote Author Text Color
$quote-author-text-color: $primary;

// Quote Body - Font family
$quote-body-font-family: $base-font-family;

// Quote Body - Font Size
$quote-body-font-size: 1em;

// Quote Body - Font Weight
$quote-body-font-weight: bold;

// Quote Body - Text Color
$quote-body-text-color: $base-text-color;

// Quote Author - Font Style
$quote-author-font-style: italic;


