//----------------------------------
//----------------------------------
//
//	VARIABLES: Branding / site logo / site name
//
//----------------------------------
//----------------------------------

// Branding When Logo is Used


// Small Navbar Logo Width
$navbar-logo-width-sm: 200px;


// Medium Navbar logo Width
$navbar-logo-width-md: 200px;


// Large Navbar Logo Width
$navbar-logo-width-lg: 200px;


// Site Name - when logo image not used

// Navbar Brand Font Family
$navbar-brand-font-family: $title-font-family;


// Navbar Brand Letter Spacing
$navbar-brand-letter-spacing: 0;


// Navbar Brand Font Color
$navbar-brand-font-color: $base-text-color;


// Navbar Brand Small Font Size
$navbar-brand-font-size-sm: 20px;


// Navbar Brand Medium Font Size
$navbar-brand-font-size-md: 23px;


// Navbar Brand Large Font Size
$navbar-brand-font-size-lg: 25px;


// Navbar Brand Font Weight
$navbar-brand-font-weight: bold;