//-------------------------------------
//-------------------------------------
//
//  Color system - Reference
//
//-------------------------------------
//-------------------------------------

$white:    #fff;
$gray-000: #f1f4f7; // custom color
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;


//--------------------------------------
//   Variables governing general layout
//--------------------------------------

// Set the layout breakpoints for the Bootstrap grid. 


$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px );


//--------------------------------------
//
// 	COLORS
//
//--------------------------------------

// Primary Color
$primary: #0062cc;

//Secondary Color
$secondary: #e9751e;

//Tertiary Color
$tertiary: #6D6E71;

//Success Color
$success: #28a745;

//Info Color
$info: #17a2b8;

// Warning Color
$warning: #ffc107;

// Danger Color
$danger: #dc3545;

// Light Color
$light: $gray-100;

// Dark Color
$dark: $gray-800;

// Body Settings
$body-bg: $white;

