//------------------------------------------
//------------------------------------------
//
//	VARIABLES: General Embed paragraph
//	A section to place embed codes for 
//	different media types, such as video, forms, etc.
//
//------------------------------------------
//------------------------------------------

// Embed Section Background Color
// Set a background color on the section
$section-general-embed-bg-color: $section-default-bg-color;


// Embed Section Title Alignment
// Set the text alignment of the section title
$section-general_embed-title-alignment: center;


// Embed Section Body Alignment
// Set the alignment of the body text
$section-general_embed-body-alignment: center;

// Embed Max Width
// Set the max width of the embedded content
$embed-wrapper-max-width: 100%;

// Embed Padding (Small)
$embed-wrapper-padding-sm: 0 5vw;

// Padding (Large)
$embed-wrapper-padding-lg: 0 5vw;

// Video Embed Background Color
$video-embed-section-bg: $section-default-bg-color;

// Video Embed Section Padding
$video-embed-section-padding: 8vw 8vw;