//----------------------------------
//----------------------------------
//
//	VARIABLES: Instagram (Lightwidget)
//
//----------------------------------
//----------------------------------


// Section Background Color
// Sets a background color on the section.
$section-instagram-bg-color: $section-default-bg-color;

// Title Alignment
$section-instagram-title-alignment: center;


// Body Alignment
$section-instagram-body-alignment: center;

// Max Width
$instagram-feed-max-width: 100%;

// Margin
$instagram-margin: 0 auto;