//----------------------------------------------
//
//	BUTTONS & LINKS - general styles for links
//
//	location: 
//      /sass/base/_buttons_links.scss
//
//----------------------------------------------



/*---------------------------------------------------------
-----------------------------------------------------------

 General LINK styles
 
-----------------------------------------------------------
----------------------------------------------------------*/

// these link styles were placed here because it has to load 
// before .button styles - due to sass globbing and no control  
// over stylesheet loading order - for button styles to work. 

a,
a:link,
a:visited,
li a.active {
	@include transition(all, 0.2s, ease-in);
	color: $link-color;
	text-decoration: none;
	
	&:hover {
		color: $link-color-hover;
		text-decoration: underline;
	}
}


/*---------------------------------------------------------
-----------------------------------------------------------

 BUTTON styles
 
-----------------------------------------------------------
----------------------------------------------------------*/

/*-------------------------------------

 Button normal state
 
-------------------------------------*/

.btn a,
a.btn,
button,
input[type="reset"], 
input[type="submit"], 
input[type="button"] {
	@include button; // sass/abstractions/_mixins-buttons.scss
	position: relative;

}


/* Exceptions to <a> css animation */
#colorbox button {
	transition: none;
}

// override drupal default active state
li .btn a.active {
	color: $btn-text-color; 
}


/*---------------------------------------------------------
-----------------------------------------------------------

 BUTTON styles on DARK backgrounds
 
-----------------------------------------------------------
----------------------------------------------------------*/

.btn.is-on-dark {
	@include button-on-dark; 
}

