//----------------------------------------------
//
//	LAYOUT - general layout styles for main containers
//
//	location: 
//      /sass/base/_layout.scss
//
//----------------------------------------------


*, *:before, *:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
	font-size: 18px;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}


body {
	background-color: $body-bg;
	@include base-text-style; // see /abstractions/_typography.scss & /variables/_typography.scss
	@include responsive-body-text; // DEFAULT FONT SIZES AT BREAKPOINTS

	// ONLY enable for fixed position headers
	// then go to _variables-layout and edit the header heights
	
	//@include fixed-navbar-body-offset;
	
}


.clear-both {
	clear: both;
}


//----------------------------------------
// Define constrained containers sitewide
//-----------------------------------------

.l-constrained {
	@include media-breakpoint-down(sm) {
		padding-left: 24px;
		padding-right: 24px;
		margin: 0 auto;
	}
	@include media-breakpoint-up(sm) {
		width: 90vw;
		margin-left: auto;
		margin-right: auto;
		max-width: 1400px;
	}
}

.contained,
.section.contained {
	@include media-breakpoint-down(sm) {
		padding-left: $section-padding-x-sm;
		padding-right: $section-padding-x-sm;
		margin: 0 auto;
	}
	@include media-breakpoint-up(sm) {
		//width: 90vw;
		margin-left: auto;
		margin-right: auto;
		padding-left: $section-padding-x-lg;
		padding-right: $section-padding-x-lg;
	}
}


/*.contained-max,
.section.contained-max {
	@include media-breakpoint-down(sm) {
		padding-left: $section-padding-x-sm;
		padding-right: $section-padding-x-sm;
		margin: 0 auto;
	}
	@include media-breakpoint-up(sm) {
		//width: 90vw;
		margin-left: auto;
		margin-right: auto;
		padding-left: $section-padding-x-lg;
		padding-right: $section-padding-x-lg;
	}
}*/
.contained-max {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
	width: 90vw; // NEW TO SEE IF WORKS everywhere... fixes case study node top sbs
}

// TOP OF PAGE SPACING
.section-hero.first-section-top-padding,
.first-section-top-padding {
	padding-top: $first-section-padding-top-lg;
	
	@include media-breakpoint-down(sm) {
		padding-top: $first-section-padding-top-sm;
	}
}
.section-hero.first-section-bottom-padding,
.first-section-bottom-padding {
	padding-bottom: $first-section-padding-bottom-lg;
	
	@include media-breakpoint-down(sm) {
		padding-bottom: $first-section-padding-bottom-sm;
	}
}


.grid-default {
	display: grid;
	grid-template-columns: 2.5rem repeat(12, 1fr) 2.5rem;
	column-gap: 2rem;
}


/*----------------------------------------

 Add Clearfix to all main containers

----------------------------------------*/

.l-constrained,
.l-pre-header,
.l-header,
.l-inner,
.l-content,
#content,
.pre-content,
.l-content-wrapper,
.l-pre-footer-wrapper,
.l-footer-wrapper {
	@extend %clearfix;
}


//---------------------------------------
//
//	Content section
//
//---------------------------------------

a#main-content {
	display: none;
}

.l-content-main-wrapper {
    //padding: 6vw 0 0;
	
	@include media-breakpoint-down(sm) {
		//padding: 50px 0 0 0;
	}
}

.l-content-main-wrapper > .l-constrained {
	width: 100%;
	padding: 0;
	max-width: 100%;
}

// default top/bottom padding on non-story pages
.section-user {
	.l-content-main-wrapper {
	    padding: 6vw 0;
	}
}

// page titles within block
.block-page-title-block {
    text-align: center;
}

.intro .col.col-lg-8 {
	width: 100%;
}

