//------------------------------------------
//
//   Collection :   Card Style 7:
//                  Logo/Icons only 
//
//------------------------------------------

.cards-logos {

	.subcard-wrapper {
		.row {
			display: grid;
			margin: 0;
		}
	}
	
	.card {
		.card-image {
			padding: 30px;
		}
		&.has-card-body {
			.card-image,
			.card-fa-icon {
				padding-bottom: 0;
			}
		}
		&.photo,
		&.icon {
			justify-content: center;
		}
		
		.card-text {
			display: none;
		}
	}
}

