//------------------------------------------------------
//
//	MIXINS - BUTTONS - define groups of attributes for buttons
//
//	location: 
//      /sass/abstractions/mixins-buttons.scss
//
//------------------------------------------------------


//---------------------------------------------
//	BUTTONS - Direct Copy over from Vanilla V1
//----------------------------------------------

@mixin btn {
	padding: $btn-padding;
	border-radius: $btn-border-radius;
	text-transform: $btn-text-transform;
	font-weight: $btn-font-weight;
	letter-spacing: $btn-letter-spacing;
	font-family: $btn-font-family;
	font-size: $btn-font-size;
	text-align: center;
	
	&:hover {
		text-decoration: none;
	}
}

@mixin btn-primary {
	background: $btn-bg-color;
	border: $btn-border;
	color: $btn-text-color;
	text-align: center;

	&:hover,
	&:active,
	&:focus {
		background: $btn-hover-bg-color;
		border-color: $btn-hover-border-color;
		color: $btn-hover-text-color !important;
		text-decoration: none;
	}
}

@mixin btn-secondary {
	background: $btn-secondary-bg-color;
	border-color: $btn-secondary-border-color;
	color: $btn-secondary-text-color;
	text-align: center;

	&:hover,
	&:active,
	&:focus {
		background: $btn-secondary-hover-bg-color;
		border-color: $btn-secondary-hover-border-color;
		color: $btn-secondary-hover-text-color !important;
		text-decoration: none;
	}
}

//--------------------------------------------------
//
//	BUTTON ON A DARK BG mixin
//
//--------------------------------------------------

// Primary buttons
@mixin button-on-dark {
	background: $btn-bg-color-on-dark;
	color: $btn-text-color-on-dark !important;
	border-color: $btn-border-color-on-dark;

	&:hover,
	&:active,
	&:focus {
		background: $btn-bg-hover-color-on-dark;
		color: $btn-text-hover-color-on-dark !important;
		border-color: $btn-border-hover-color-on-dark;
	}
}

@mixin button-on-light {
	background: $btn-bg-color-on-light;
	color: $btn-text-color-on-light !important;
	border-color: $btn-border-color-on-light;

	&:hover,
	&:active,
	&:focus {
		background: $btn-bg-hover-color-on-light;
		color: $btn-text-hover-color-on-light !important;
		border-color: $btn-border-hover-color-on-light;
	}
}

// Secondary buttons
@mixin secondary-button-on-dark {
	background: $secondary-btn-bg-color-on-dark;
	color: $secondary-btn-text-color-on-dark !important;
	border-color: $secondary-btn-border-color-on-dark;
	
	&:hover,
	&:active,
	&:focus {
		background: $secondary-btn-bg-hover-color-on-dark;
		color: $secondary-btn-text-hover-color-on-dark !important;
		border-color: $secondary-btn-border-hover-color-on-dark;
	}
}

@mixin secondary-button-on-light {
	background: $secondary-btn-bg-color-on-light;
	color: $secondary-btn-text-color-on-light !important;
	border-color: $secondary-btn-border-color-on-light;

	&:hover,
	&:active,
	&:focus {
		background: $secondary-btn-bg-hover-color-on-light;
		color: $secondary-btn-text-hover-color-on-light !important;
		border-color: $secondary-btn-border-hover-color-on-light;
	}
}