//---------------------------------------------------
//---------------------------------------------------
//
//	MIXINS
//
//---------------------------------------------------
//---------------------------------------------------



//-----------------------------------
//	Position defaults for background
//  image containers
//-----------------------------------
@mixin image-effect-position {
    position: absolute !important;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}


$nav-underline-width: calc(#{$nav-link-padding-x * 2});


//-------------------------------
// Nav underline Animation
//-------------------------------

// Hover state
@keyframes nav-link-underline-animation {
	0% {
		width: 0;
	}
	100% {
		width: calc(100% - #{$nav-link-padding-x * 2});
	}
}


// Nav Border Animation Reverse (back to normal)
@keyframes nav-link-underline-animation-reverse {
	0% {
		width: calc(100% - #{$nav-link-padding-x * 2});
	}
	100% {
		width: 0;
	}
}


// MIXIN
@mixin nav-link-underline-animation {

	&:before {
		display: block;
	    content: "";
	    height: 3px;
	    background: $primary;
	    text-align: center;
	    position: absolute;
	    bottom: 10px;
	    left: 50%;
		transform: translateX(-50%);
	    animation: nav-link-underline-animation-reverse 0.3s ease-in-out forwards;
	    z-index: -1;
	}

	&:hover {
		&:before {
			display: block;
		    content: "";
		    height: 3px;
		    background: $primary;
		    text-align: center;
		    position: absolute;
		    bottom: 10px;
		    left: 50%;
			transform: translateX(-50%);
		    animation: nav-link-underline-animation 0.3s ease-in-out forwards;
		    z-index: -1;
		}
	}
}




//-----------------------------
// Nav BG Animation
//-----------------------------
@keyframes nav-bg-animation {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

// Nav BG Animation Reverse
@keyframes nav-bg-animation-reverse {
	0% {
		width: 100%;
	}
	100% {
		width: 0;
	}
}

@mixin nav-link-bg-animation {

	&:before {
		display: block;
	    content: "";
	    height: 100%;
	    background: rgba(85,89,93,0.08);
	    text-align: center;
	    position: absolute;
	    bottom: 0;
	    left: 50%;
		transform: translateX(-50%);
	    animation: nav-bg-animation-reverse 0.3s ease-in-out forwards;
	    border-radius: 4px;
	    z-index: -1;
	}

	&:hover {
		&:before {
			display: block;
		    content: "";
		    height: 100%;
		    background: rgba(85,89,93,0.08);
		    text-align: center;
		    position: absolute;
		    bottom: 0;
		    left: 50%;
			transform: translateX(-50%);
		    animation: nav-bg-animation 0.3s ease-in-out forwards;
		    border-radius: 4px;
		    z-index: -1;
		}
	}
}
