//------------------------------
//  STORY BLOCK:
//	RIGHT text, LEFT image
//  <img> tag, not background img
//------------------------------

.story-block {

    &.right-text-left-image {

        // hide only the non-mobile image
        @include media-breakpoint-down(sm) {
            .group-left .story-block-images {
                display: none;
            }
        }

        @include media-breakpoint-up(md) {

            // IMAGE column
            .group-left {
                width: 50%;
                padding: 8vw 0 8vw 8vw;
                display: flex;
                align-items: center;

                figure {
                    margin: 0;

                    img {
                        width: 100%;
                    }
                }

                figcaption {
                    text-align: center;
                    font-size: .8em;
                    margin: 0.5em 0 0;
                }
            }

            // TEXT column
            .group-right {
                width: 50%;
                padding: 8vw;
            }
        }

        .section-title {
            text-align: $sb-right-text-title-alignment;
        }
    }
}


//---------------------------------------------
//   Text Wrapper Overlaps Image
//----------------------------------------------

.section-story-block {
    &.text-wrapper-overlap {
        .right-text-left-image {
            @include media-breakpoint-up(md) {
                .group-left {
                    figure {
                        width: 152%;
                        max-width: 152%;
                    }
                }
                .group-right {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    
                    .text-wrapper {
                        align-self: center;
                        position: relative;
                        left: -4vw;
                        margin: 0 -4vw;
                    }
                }
                .story-block-extra-image {
                    margin-left: -8vw;
                }
            }
        }
    }
}
        
        
// Image width 55%, text width 45%
.sb-image55-text45 {
    .story-block {
        &.right-text-left-image {
            @include media-breakpoint-up(md) {

                // text col
                .group-right {
                    width: 45%;
                }

                // IMAGE col
                .group-left {
                    width: 55%;
                }
            }
        }
    }
}

// Image width 45%, text width 55%
.sb-image45-text55 {
    .story-block {
        &.right-text-left-image {
            @include media-breakpoint-up(md) {

                // text col
                .group-right {
                    width: 55%;
                }

                // IMAGE col
                .group-left {
                    width: 45%;
                }
            }
        }
    }
}
