//------------------------------
//	STORY BLOCK:
//  Image TOP, Text BOTTOM
//------------------------------

.story-block {
    &.img-top-text-bottom {

        .story-block-inner {
            padding: 0 0 $section-padding-y-lg;
        }

        // outer images wrapper
        .bg-image {
            flex: 0 0 100%;
            
            @include media-breakpoint-up(md) {
                margin-bottom: $sb-img-top_image-margin;
            }
        }

        // image container
        .story-block-images {
            padding: $sb-img-top_image-padding;

            figure {
                margin: 0;

                img {
                    width: 100%;
                }

                figcaption {
                    font-size: 14px;
                    padding: 5px $section-padding-x-sm;
                    text-align: center;
                }
            }
        }
        
        

        .group-text {
            display: flex;
            flex-direction: column;
            // Y axis
            justify-content: flex-start;
            // X axis
            align-items: center;
            width: 100%;
            position: relative;
            
            // since there is no mobile image for this, requires spacing
            @include media-breakpoint-down(sm) {
                margin-top: 2em;
                padding: 0 $section-padding-x-sm;
            }
            
            .story-block-extra-image {
                max-width: 38em;
            }

            .text-wrapper {
                max-width: 38em;
                padding: calc(#{$text-wrapper-padding} * 1.5);

                @include media-breakpoint-up(md) {
                    padding: $text-wrapper-padding;
                }
            }

            // Text area
            .section-title {
                text-align: $sb-center-full-img-title-alignment;
            }

            .story-block-text {
                text-align: $sb-center-full-img-text-alignment;
            }

            h3,
            .subtitle {
                text-align: $sb-center-full-img-subtitle-alignment;
            }

            // Links
            .s2_story_block__story-block-link {
                text-align: $sb-img-top_link-alignment;

                a {
                    @include media-breakpoint-down(sm) {
                        display: block;
                    }
                }
            }
            
            // video link
            .s2_story_block__story-block-video,
            .s2_story_block__story-block-video-new {
                text-align: $sb-img-top_link-alignment;
            }
        }
    }
}

//---------------------------------------------
//   Text Wrapper Overlaps Image
//----------------------------------------------

.section-story-block {
    &.text-wrapper-overlap {
        @include media-breakpoint-up(md) {
            .img-top-text-bottom {
                .group-text {
                    margin-top: -12vw;
                }
                .text-wrapper {
                    padding: 4vw;
                    max-width: 44em;
                }
                .bg-image {
                    margin-bottom: 0;
                }
                .story-block-extra-image {
                    max-width: 44em;
                }
            }
        }
    }
}
