//------------------------------
//  STORY BLOCK:
//	LEFT text, RIGHT image
//  <img> tag, not background img
//------------------------------

.story-block {
    &.left-text-right-image {

        // hide non-mobile image
        @include media-breakpoint-down(sm) {
            .group-right {
                display: none;
            }
        }

        @include media-breakpoint-up(md) {

            // TEXT column
            .group-left {
                width: 50%;
                padding: 8vw;
            }

            // IMAGE column
            .group-right {
                width: 50%;
                padding: 8vw 8vw 8vw 0;
                display: flex;
                align-items: center;

                figure {
                    margin: 0;

                    img {
                        width: 100%;
                    }
                }

                figcaption {
                    text-align: center;
                    font-size: .8em;
                    margin: .05em 0 0;
                }
            }
        }

        .section-title {
            text-align: $sb-left-text-title-alignment;
        }
    }
}

//---------------------------------------------
//   Text Wrapper Overlaps Image
//----------------------------------------------

.section-story-block {
    &.text-wrapper-overlap {
        .left-text-right-image {
            @include media-breakpoint-up(md) {
                .group-right {
                    z-index: 0;
                    
                    figure {
                        width: 152%;
                        max-width: 152%;
                        position: relative;
                        right: 50%;
                    }
                }
                .group-left {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    z-index: 1;
                    
                    .text-wrapper {
                        align-self: center;
                        position: relative;
                        right: -4vw;
                        margin: 0 -4vw;
                    }
                }
                .story-block-extra-image {
                    margin-right: -8vw;
                }
            }
        }
    }
}

// Image width 55%, text width 45%
.sb-image55-text45 {
    .story-block {
        &.left-text-right-image {
            @include media-breakpoint-up(md) {

                // img col
                .group-right {
                    width: 55%;
                }

                // text col
                .group-left {
                    width: 45%;
                }
            }
        }
    }
}

// Image width 45%, text width 55%
.sb-image45-text55 {
    .story-block {
        &.left-text-right-image {
            @include media-breakpoint-up(md) {

                // image col
                .group-right {
                    width: 45%;
                }

                // text col
                .group-left {
                    width: 55%;
                }
            }
        }
    }
}
