//------------------------------
//	STORY BLOCK:
//  Image TOP, Text BOTTOM
//------------------------------

.story-block {
    &.img-top-text-bottom {

        .story-block-inner {
            padding: 0 0 $section-padding-y-lg;
        }

        // outer images wrapper
        .bg-image {
            flex: 0 0 100%;
            
            @include media-breakpoint-up(md) {
                margin-bottom: $sb-img-top_image-margin;
            }
        }

        // image container
        .story-block-images {
            padding: $sb-img-top_image-padding;

            figure {
                margin: 0;

                img {
                    width: 100%;
                }

                figcaption {
                    font-size: 14px;
                    padding: 5px $section-padding-x-sm;
                    text-align: center;
                }
            }
        }
        
        .group-text {
            display: flex;
            flex-direction: column;
            // Y axis
            justify-content: flex-start;
            // X axis
            align-items: center;
            width: 100%;
            position: relative;
            
            // since there is no mobile image for this, requires spacing
            @include media-breakpoint-down(sm) {
                margin-top: 2em;
                padding: 0 $section-padding-x-sm;
            }
            
            .story-block-extra-image {
                max-width: 38em;
            }

            .text-wrapper {
                max-width: 38em;
                padding: calc(#{$text-wrapper-padding} * 1.5);

                @include media-breakpoint-down(md) {
                    padding: 0 $section-padding-x-sm;
                }
            }

            // Text area
            .section-title {
                text-align: $sb-img-top_title-alignment;
            }
            
            .story-block-text {
                text-align: $sb-img-top_text-alignment;
            }
            
            h3,
            .subtitle {
                text-align: $sb-img-top_subtitle-alignment;
            }
            
            // links
            .story-block-link-wrapper {
                justify-content: $sb-img-top_link-alignment;
            }
            .s2_story_block__story-block-link {
                a {
                    @include media-breakpoint-down(sm) {
                        display: block;
                    }
                }
            }
        }
    }
}

// flip image and text: text top image bottom
.paragraph--view-mode--img-top-text-bottom {
    &.reverse-order {
        .story-block-inner {
            padding-bottom: 0;
            
            .bg-image {
                order: 2;
                margin-bottom: 0;
            }
            .group-text {
                order: 1;
                padding: $section-padding-y-lg $section-padding-x-lg $section-padding-y-sm;
            }
        }
        
        // move negative margin to bottom when using .reverse-order
        &.text-wrapper-overlap {
            .group-text {
                margin-top: 0;
                margin-bottom: -12vw;
            }
        }
    }
}



//---------------------------------------------
//   Text Wrapper Overlaps Image
//----------------------------------------------

.section-story-block {
    &.text-wrapper-overlap {
        @include media-breakpoint-up(md) {
            .img-top-text-bottom {
                .group-text {
                    margin-top: -12vw;
                }
                .text-wrapper {
                    padding: 4vw;
                    max-width: 44em;
                }
                .bg-image {
                    margin-bottom: 0;
                }
                .story-block-extra-image {
                    max-width: 44em;
                }
            }
        }
    }
}

.section-story-block {
    &.text-wrapper-light,
    &.text-wrapper-dark {
        .story-block {
            &.img-top-text-bottom {				
                .group-text {
                    @include media-breakpoint-down(sm) {
                        padding: 0 $section-padding-x-sm;
                    }
                    .text-wrapper {
                        padding: calc(#{$text-wrapper-padding} * 1.5);
                        
                        @include media-breakpoint-up(md) {
                            padding: $text-wrapper-padding;
                        }
                    }
                }
            }
        }
    }
}
