//----------------------------------
//
//	CATALOG ITEM TYPE:
//      PRODUCTS
//
//----------------------------------

// offset the checkout modal top position by the height of the navbar
// !important needed for override of imported Snipcart styles
.snipcart-modal__container {

    // since cart button is in navbar container (for fixed positioning),
    // increase z-index (default is 10) to cover cart button, which clicking causes freakout
    z-index: 101 !important;

    // change drop shadow color
    &.snipcart-cart-summary--edit {
        box-shadow: 0 8px 24px rgba(0,0,0,0.15) !important;
    }
}




.catalog {

    // negate default container width to allow for full-width
    // album rows
    .section-content-items > .container {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }

    // alternating bg colors for rows
    .catalog-item {
        &.even {
            .product-wrapper {
                background: $product-row-bg-even;
            }
        }
        &.odd {
            .product-wrapper {
                background: $product-row-bg-odd;
            }
        }
    }
}

.product-wrapper {
    padding: 3rem 0;
    position: relative;
    border-bottom: $product-row-border;

    .product-title {
        color: $subpage-title-color;
    }

    .price {
        font-size: 24px;
        font-weight: bold;
    }

    // col 1
    .product-item-1 {
        text-align: center;
        
        @include media-breakpoint-down(sm) {
            margin-bottom: 30px;
        }
        @include media-breakpoint-up(lg) {
            padding: 0 30px;
        }
    }
    .product-item-2 {
        @include media-breakpoint-up(lg) {
            padding: 0 30px;
        }
    }

    //------------------------
    // Product description
    //------------------------

    // hide the unnecessary word "description" preceding
    .snipcart_product__product-description > div:first-of-type {
        display: none;
    }
    .product-description {
        @include media-breakpoint-up(lg) {
            font-size: $product-details-font-size;
        }

        p:last-child {
            margin-bottom: 0;
        }
    }
}

//---------------------------------------------
//
//	LIGHT THEME STYLES -
//
//---------------------------------------------

.product-wrapper {
    
    //-----------------------
    // light bg dark text
    //-----------------------
    &.light-bg-dark-text {
        background: $bg-light-color !important;
        
        .product-title {
            color: $title-on-light-color;
        }
        .product-title a {
            color: $link-on-light-color;
            
            &:hover {
                color: $link-on-light-color-hover;
            }
        }
        .product-price-link-wrapper,
        .product-description {
            color: $text-on-light-color;
        }
        .snipcart-add-item {
            @include button-on-light;
        }
    }
    
    //-----------------------
    // light bg class
    //-----------------------
    &.light-bg {
        background: $bg-light-color !important;
    }
}

//---------------------------------------------
//
//	DARK THEME STYLES -
//
//---------------------------------------------

.product-wrapper {
    
    &.dark-bg-light-text {
        background: $bg-dark-color !important;
        
        .product-title {
            color: $title-on-dark-color;
        }
        .product-title a {
            color: $link-on-dark-color;
            
            &:hover {
                color: $link-on-dark-color-hover;
            }
        }
        .product-price-link-wrapper,
        .product-description {
            color: $text-on-dark-color;
        }
        .snipcart-add-item {
            @include button-on-dark;
        }
    }
    
    //-----------------------
    // dark bg class only
    //-----------------------
    &.dark-bg {
        background: $bg-dark-color !important;
    }
}

//-----------------------
//  Light Text class
//-----------------------
.product-wrapper {    
    &.light-text {
        .product-title {
            color: $title-on-dark-color;
        }
        .product-title a {
            color: $link-on-dark-color;
            
            &:hover {
                color: $link-on-dark-color-hover;
            }
        }
        .product-price-link-wrapper,
        .product-description {
            color: $text-on-dark-color;
        }
        .snipcart-add-item {
            @include button-on-dark;
        }
    }
}

//------------------------------------
//  Dark Text class
//------------------------------------
.product-wrapper { 
    &.dark-text {
        .product-title {
            color: $title-on-light-color;
        }
        .product-title a {
            color: $link-on-light-color;
            
            &:hover {
                color: $link-on-light-color-hover;
            }
        }
        .product-price-link-wrapper,
        .product-description {
            color: $text-on-light-color;
        }
        .snipcart-add-item {
            @include button-on-light;
        }
    }
}



//----------------------------------
//
//	STANDALONE PRODUCT PAGE:
//
//----------------------------------

.page-product {
    &.paragraph--type--snipcart-product {
        @include media-breakpoint-down(md) {
            padding: 8vw 0;
        }
        @include media-breakpoint-up(lg) {
            padding: 5vw 0 8vw 0;
        }
    }
    .back-to-catalog-page {
        display: flex;
        justify-content: center;
        margin: 0 auto 2em;
        
        a.back-to-catalog-page-link {
            text-align: center;
            display: inline-block;
            background: $section-alternating-bg;
            padding: 6px 16px;
            color: $base-text-color;
            font-size: 0.7em;
            line-height: 1;
            margin-bottom: 30px;
            border-radius: 3px;
            
            &:before {
                content: "<";
                display: inline-block;
                margin-right: 5px;
            }
        }
    }

    .title-wrapper {
        text-align: center;
        margin-bottom: 2em;
    }

    h1.page-title,
    h1.title {
        @include title-style;
        @include responsive-page-title;
    }
}


//----------------------------------
//
//	CATALOG ITEM - paragraph - v1 overrides
//  Snipcart specific
//
//----------------------------------

// List catalog item code.
.paragraph--type--snipcart-product {
    padding: 4rem 0;
    position: relative;
    border-bottom: $catalog-item-border;
    
    .product-title {
        @include responsive-catalog-list-title;
        @include title-style;
        margin-bottom: 1rem;
        color: $catalog-item-title-color;
        text-decoration: $catalog-item-title-text-decoration;
        transition: 0.2s ease-in all;
        border: $catalog-item-list-title-border;
        padding: $catalog-item-list-title-padding;
        margin: $catalog-item-list-title-margin;
        
        a.standalone-page-title-link {
            text-decoration: $article-list-title-text-decoration;
            color: $catalog-item-title-color;
            transition: 0.2s ease-in all;
            
            &:hover {
                color: $catalog-item-title-hover-color;
                text-decoration: $catalog-item-title-hover-text-decoration;
            }
        }
    }
    
    // col 1
    .product-item-1 {
        @include media-breakpoint-down(sm) {
            margin-bottom: 30px;
        }
    }
        
    // Columns - override bootstrap padding defaults
    .product-item-1 {
        @include media-breakpoint-up(lg) {
            padding-right: 30px;
        }
    }
    .product-item-2 {
        @include media-breakpoint-up(lg) {
            padding-left: 30px;
        }
    }
    
    // image
    .product-item-1 {        
        img {
            width: 100%;
            height: auto;
        }
    }
    
    // description
    .product-description {
        color: $catalog-item-description-color;
        
        @include media-breakpoint-up(lg) {
            font-size: $catalog-description-text-size;
        }
        
        p:last-child {
            margin-bottom: 0;
        }
    }
}

//---------------------------------
// Dark or Light Text
//      add this class to a section to 
//      change the text color only
//---------------------------------

.dark-text {
    &.paragraph--type--snipcart-product	{
        // title
        .product-title {
            color: $title-on-light-color !important;
        }
        .product-description {
            color: $text-on-light-color !important;
        }
        a.standalone-page-title-link {
            color: $link-on-light-color;
            
            &:hover {
                color: $link-on-light-color-hover;
            }
        }
        .snipcart-add-item {
            &.btn-primary,
            &.btn-secondary {
                @include button-on-light;
            }
            &:not(.btn) {
                color: $link-on-light-color !important;
                
                &:hover {
                    color: $link-on-light-color-hover !important;
                }
            }
        }
    }
}

.light-text {
    &.paragraph--type--snipcart-product	{
        // title
        .product-title {
            color: $title-on-dark-color !important;
        }
        .product-description {
            color: $text-on-dark-color !important;
        }
        a.standalone-page-title-link {
            color: $link-on-dark-color;
            
            &:hover {
                color: $link-on-dark-color-hover;
            }
        }
        .snipcart-add-item {
            &.btn-primary,
            &.btn-secondary {
                @include button-on-dark;
            }
            &:not(.btn) {
                color: $link-on-dark-color !important;
                
                &:hover {
                    color: $link-on-dark-color-hover !important;
                }
            }
        }
    }
}

// override .light-text in mobile only
.light-text.paragraph--type--snipcart-product {
    &.dark-text-mobile {
        @include media-breakpoint-down(sm) {
            // title
            .product-title {
                color: $title-on-light-color !important;
            }
            .product-description {
                color: $text-on-light-color !important;
            }
            a.standalone-page-title-link {
                color: $link-on-light-color;
                
                &:hover {
                    color: $link-on-light-color-hover;
                }
            }
            .snipcart-add-item {
                &.btn-primary,
                &.btn-secondary {
                    @include button-on-light;
                }
                &:not(.btn) {
                    color: $link-on-light-color !important;
                    
                    &:hover {
                        color: $link-on-light-color-hover !important;
                    }
                }
            }
        }
    }
}


